<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập - DTA SPACE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>HỆ THỐNG ĐỀ XUẤT<br>DTA SPACE</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert">
              {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form method="POST">
            <input type="email" name="email" placeholder="Email công ty" required autofocus>
            <input type="password" name="password" placeholder="Mật khẩu" required>
            <button type="submit">Đăng nhập</button>
        </form>
    </div>
</body>
</html>